<div class="p-14">
  <div class="w-full flex flex-col items-center justify-center my-12 space-y-8">
    <h1 class="font-poppins font-bold text-5xl leading-58 text-gray-800">Equipos de trabajo</h1>
    <h3 class="font-poppins font-medium text-base text-gray-500">Los proyectos son realizados por
      equipos que combinan las siguientes tecnologías</h3>
  </div>

  <div class="flex w-full items-center justify-center md:flex-row flex-col space-y-4">

    <!-- Card React&Node -->
    <div class="relative">
      <svg width="360" height="410" viewBox="0 0 268 329" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M15.1637 43.8887C5.60393 43.8887 0.000167875 51.1484 0.00016269 59.0682C0.76933 85.6874 1.41757e-06 124.736 0 217.133V308.211C2.7589e-05 321.08 4.94464 329 11.208 329H253.825C261.077 329 268 322.73 268 315.47V14.8495C268 4.61986 262.066 0 252.836 0H58.6766C51.4245 0 45.8205 5.27984 45.8205 12.8696V31.349C45.8205 38.9388 39.887 43.8887 32.6348 43.8887H15.1637Z"
          fill="#F0F0F0" />
      </svg>
      <div class="overlay absolute top-0 left-0 flex flex-col w-full h-full justify-between">
        <div class="p-6 pb-0 1/5">
          <p class="font-normal font-medium text-base leading-5 text-gray-600 font-poppins">/ 01</p>
        </div>
        <div class="flex justify-center items-center relative">
          <img src="img/nodejs.png" class="absolute right-20 -top-9 transform scale-125">
          <img src="img/react.png" class="absolute left-4 -bottom-6 transform scale-125">
        </div>
        <div class="flex justify-center items-center p-3 h-1/5">
          <p class="text-center font-poppins font-medium text-2xl text-black">React & Node</p>
        </div>
      </div>
    </div>

    <!-- Card Angular&Java-->
    <div class="relative">
      <svg width="360" height="410" viewBox="0 0 268 329" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M15.1637 43.8887C5.60393 43.8887 0.000167875 51.1484 0.00016269 59.0682C0.76933 85.6874 1.41757e-06 124.736 0 217.133V308.211C2.7589e-05 321.08 4.94464 329 11.208 329H253.825C261.077 329 268 322.73 268 315.47V14.8495C268 4.61986 262.066 0 252.836 0H58.6766C51.4245 0 45.8205 5.27984 45.8205 12.8696V31.349C45.8205 38.9388 39.887 43.8887 32.6348 43.8887H15.1637Z"
          fill="#F0F0F0" />
      </svg>
      <div class="overlay absolute top-0 left-0 flex flex-col w-full h-full justify-between">
        <div class="p-6 pb-0 1/5">
          <p class="font-normal font-medium text-base leading-5 text-gray-600 font-poppins">/ 02</p>
        </div>
        <div class="flex justify-center items-center relative">
          <img src="img/java.png" class="absolute right-16 -top-9 transform scale-125">
          <img src="img/angular.png" class="absolute left-24 -bottom-6 transform scale-150">
        </div>
        <div class="flex justify-center items-center p-3 h-1/5">
          <p class="text-center font-poppins font-medium text-2xl text-black">Angular & Java</p>
        </div>
      </div>
    </div>

    <!-- Card PHP-->
    <div class="relative">
      <svg width="360" height="410" viewBox="0 0 268 329" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M15.1637 43.8887C5.60393 43.8887 0.000167875 51.1484 0.00016269 59.0682C0.76933 85.6874 1.41757e-06 124.736 0 217.133V308.211C2.7589e-05 321.08 4.94464 329 11.208 329H253.825C261.077 329 268 322.73 268 315.47V14.8495C268 4.61986 262.066 0 252.836 0H58.6766C51.4245 0 45.8205 5.27984 45.8205 12.8696V31.349C45.8205 38.9388 39.887 43.8887 32.6348 43.8887H15.1637Z"
          fill="#F0F0F0" />
      </svg>
      <div class="overlay absolute top-0 left-0 flex flex-col w-full h-full justify-between">
        <div class="p-6 pb-0 1/5">
          <p class="font-normal font-medium text-base leading-5 text-gray-600 font-poppins">/ 03</p>
        </div>
        <div class="flex justify-center items-center">
          <img src="img/php.png" class="transform scale-125">
        </div>
        <div class="flex justify-center items-center p-3 h-1/5">
          <p class="text-center font-poppins font-medium text-2xl text-black">PHP</p>
        </div>
      </div>
    </div>

    <!-- Card Data Science -->
    <div class="relative">
      <svg width="360" height="410" viewBox="0 0 268 329" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M15.1637 43.8887C5.60393 43.8887 0.000167875 51.1484 0.00016269 59.0682C0.76933 85.6874 1.41757e-06 124.736 0 217.133V308.211C2.7589e-05 321.08 4.94464 329 11.208 329H253.825C261.077 329 268 322.73 268 315.47V14.8495C268 4.61986 262.066 0 252.836 0H58.6766C51.4245 0 45.8205 5.27984 45.8205 12.8696V31.349C45.8205 38.9388 39.887 43.8887 32.6348 43.8887H15.1637Z"
          fill="#F0F0F0" />
      </svg>
      <div class="overlay absolute top-0 left-0 flex flex-col w-full h-full justify-between">
        <div class="p-6 pb-0 1/5">
          <p class="font-normal font-medium text-base leading-5 text-gray-600 font-poppins">/ 04</p>
        </div>
        <div class="flex justify-center items-center">
          <img src="img/python.png" class="transform scale-125">
        </div>
        <div class="flex justify-center items-center p-3 h-1/5">
          <p class="text-center font-poppins font-medium text-2xl text-black">Data Science</p>
        </div>
      </div>
    </div>

  </div>
</div>